<img src="<%= getCourse.image%>" alt="Logo" />
<h1><%=getCourse.title%></h1>
<br />
<h4>Platform: <%=getCourse.platform%></h4>
<br />
<a href="<%= getCourse.url%>" target="_blank">Go to the Course</a>
<br />
<br />
<a href="/admin/courses/<%=getCourse._id%>/edit">Edit Course</a>
<br />
<form action="/admin/courses/<%= getCourse._id%>?_method=DELETE" method="post">
  <button>Delete Course</button>
</form>
