<%- include("../../partials/head")%>
<body>
  <%- include("../../partials/navbar")%>
  <!-- Course blocks -->
  <div class="content_blocks">
      <div class="main_content" id="resource">
          <h2>Get a broad selection of courses</h2>
      </div>
      <div class="inner_blocks">
          <!-- Card 7 -->
          <% for(var crs of getCategories) {%> 
            <div class="card">
              <div class="card_img">
                  <a href="/categories/<%= crs._id%>">
                      <img src="<%= crs.image%>" class="card-img" alt=" ">
                  </a>
              </div>
              <div class="card_body">
                  <h3 class="card_title"><%= crs.name%></h3>
                  <p class="card_text">
                    This category is related to <%= crs.name%>, you can view courses by
                    clicking on Explore courses. And can grab details about courses.
                  </p>
                  <a href="/categories/<%= crs._id%>" class="btn">Explore courses</a>
              </div>
          </div>
            <%} %>
      </div>
  </div>
  
  <%- include("../../partials/footer")%>
  <script src="/js/script.js"></script>
</body>
</html>
