<%- include("../../partials/head")%>
<body>
  <%- include("../../partials/navbar")%>
  <!-- Header Image and text-->
  <div class="header_image">
    <div class="head_img">
      <img
        src="https://res.cloudinary.com/dupvoqioo/image/upload/v1652289959/Courses/demo-bg_gy5hjz.png"
      />
    </div>
    <div class="header_text">
      <h2>Your Only learning Partner</h2>
      <p>Get the best resources for learning</p>
      <button class="resource_butn">
        <a href="#resource">View Resources</a>
      </button>
    </div>
  </div>

  <!-- Content block -->
  <div class="content_blocks">
    <div class="main_content" id="resource">
      <h2>Explore Courses</h2>
    </div>
    <div class="inner_blocks">
      <!-- Card-1 -->
      <% for(var cat of getCategories) {%>
      <div class="card">
        <div class="card_img">
          <a href="">
            <img src="<%=cat.image%>" class="card-img" alt="" />
          </a>
        </div>
        <div class="card_body">
          <h3 class="card_title"><%= cat.name%></h3>
          <p class="card_text">
            This category is related to <%= cat.name%>, you can view courses by
            clicking on Explore courses. And can grab details about courses.
          </p>
          <a href="/categories/<%= cat._id%>" class="btn">Explore courses</a>
        </div>
      </div>
      <%} %>
    </div>
    <!-- Separate view Button -->
    <div class="view_button">
      <a href="/categories" class="butn">More Categories</a>
    </div>
  </div>
  <!-- End of content block -->

  <!-- Contact us div -->
  <div class="contact-div">
    <div class="search-text">
      <h2>Looking for resources you want?</h2>
      <p class="get-resource">
        To get your personalised resources, just mail us
      </p>
      <a href="/contactus">Contact us</a>
    </div>
    <div class="search-img">
      <img
        src="https://res.cloudinary.com/dupvoqioo/image/upload/v1652290104/Courses/search_image_evn1zr.webp"
        alt="man searching on the web"
      />
    </div>
  </div>
  <!-- End of Contact-us div-->

  <!--  Contributors -->
  <div class="about_div" id="about">
    <h3>Our team</h3>
    <div class="members">
      <div class="member">
        <div class="avatar_parent">
          <img
            src="https://res.cloudinary.com/dupvoqioo/image/upload/v1652290801/Courses/Page%20Content/abhishek_ofl6wj.png"
            alt=""
            class="member_img"
          />
        </div>
        <div class="profile">
          <h4>Abhishek Kumar</h4>
          <p>Frontend Developer</p>
        </div>
      </div>
      <div class="member">
        <div class="avatar_parent">
          <img
            src="https://res.cloudinary.com/dupvoqioo/image/upload/v1652290838/Courses/Page%20Content/karuna_gwphao.png"
            alt=""
            class="member_img"
          />
        </div>
        <div class="profile">
          <h4>Karuna Yadav</h4>
          <p>Fullstack Developer</p>
        </div>
      </div>
      <div class="member">
        <div class="avatar_parent">
          <img
            src="https://res.cloudinary.com/dupvoqioo/image/upload/v1652290863/Courses/Page%20Content/ravi_nsxjgw.png"
            alt=""
            class="member_img"
          />
        </div>
        <div class="profile">
          <h4>Ravi Kumar</h4>
          <p>Fullstack Developer</p>
        </div>
      </div>
      <div class="member">
        <div class="avatar_parent">
          <img
            src="https://res.cloudinary.com/dupvoqioo/image/upload/v1652290887/Courses/Page%20Content/rajneesh_pxsppm.png"
            alt=""
            class="member_img"
          />
        </div>
        <div class="profile">
          <h4>Rajneesh Pandey</h4>
          <p>Frontend Developer</p>
        </div>
      </div>
    </div>
  </div>
  <!-- End of Contributors div -->
  <%- include("../../partials/footer")%>
  <script src="/js/script.js"></script>
</body>
